/* Add a small arrow pointing to the faBars icon */
.mobile-menu {
  content: "";
  position: absolute;
  top: -24px;
  right: 54px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 22px solid rgba(21, 32, 63, 0.8);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  z-index: 10000000000;
}

.mobile-menu-container {
  margin: 0 0 0 -5px !important;
}
